<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="logo-icon">directions_car</mat-icon>
    <span>City Car - Parking App</span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-container *ngIf="(parkingList$ | async) as parkingList">

  <mat-card>
    <b>Your location is:</b>
    <p *ngIf="(geolocation$ | async) as geolocation; else loadingGeo">
      Longtitide: {{(geolocation?.long | number: '1.1-8') || 'n/a'}}, <br/>
      Latitude: {{(geolocation?.lat | number: '1.1-8') || 'n/a'}}
    </p>
    <ng-template #loadingGeo>
      <div>Loading
        <div class="loader">...</div>
      </div>
    </ng-template>
  </mat-card>

  <table mat-table [dataSource]="parkingList" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{[element.address.street + ' ' + element.address.house,
        element.address.city].join(', ')}}
      </td>
    </ng-container>

    <ng-container matColumnDef="spacesCount">
      <th mat-header-cell *matHeaderCellDef> Parking spaces</th>
      <td mat-cell *matCellDef="let element"> {{element.spacesCount}}</td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef> Distance</th>
      <td mat-cell *matCellDef="let element"> {{element.distance > 0 ? (element.distance | number:'1.1-2') + ' km':
        'n/a'}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="parkingTableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: parkingTableHeader;"></tr>
  </table>
</ng-container>
