<mat-card>
  <p>
    <mat-icon class="logo-icon">error</mat-icon>
    <b>An error occured!</b></p>
  <p>
    An error occured while application was working... Please see logs for details.
  </p>
</mat-card>
