/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.logo-icon {
  margin-right: 8px;
}

.loader {
  display: inline;
  color:#000;
  animation-name: loader-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loader-animation {
  from {color: #000;}
  to {color: #FFF;}
}

table {
  width: 100%;
}
